<body>
  <div class="page-heading" style="background-image: url('/project/assets/images/heading-bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2 class="space-need">A Walk In The Nature <em>Contest</em></h2>
          <h6>Contest Deadline</h6>
          <div class="main-content">
            <div class="counter">
              <div class="days">
                <div class="value">00</div>
                <span>Days</span>
              </div>
              <div class="hours">
                <div class="value">00</div>
                <span>Hours</span>
              </div>
              <div class="minutes">
                <div class="value">00</div>
                <span>Minutes</span>
              </div>
              <div class="seconds">
                <div class="value">00</div>
                <span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contest-details mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-content">
            <div class="row">
              <div class="col-lg-4">
                <span class="open">Open Contest</span>
              </div>
              <div id="participantsAndSubmissions" class="col-lg-8">
                <ul>
                  <li><span>Participants:</span> 0</li>
                  <li><span>Submissions:</span> 280</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="main-content">
            <h4>Requirements Of The Contest</h4>
            <h6>Picture Should Have</h6>
            <p id="paragraph1"></p>
            <p id="paragraph2"></p>
            <h6 class="second-title">Picture Should Not Have</h6>
            <p id="paragraph3"></p>
            <p id="paragraph4"></p>
            <div class="main-button">
              <a href="#">Submit Your Photo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  </script>

</body>

</html>